.ptags {
    display: inline-block;
    border: 1px solid #bfbfbf;
    border-radius: 999em;
    padding: 0 10px;
    color: #bfbfbf;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
}

.ptags:hover,
.ptags:active {
    color: #337ab7;
    border-color: #337ab7;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.navbar-txt {
    color: #fff;
}

.navbar-txt:hover {
    color: #337ab7;
}

.adcontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 330px;
}

body {
    background-color:#e4e4e4 !important; 
}

.post-preview {
    background-color:#fff !important;
    padding: 2em 0em
}

